
.flex-container{
	// width: 100%;
	min-height: 100vh;
	// background: grey;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.bordered{
	// border: 1px solid black;
}

body{
	background: url('http://www.socrative.com/img/hex_bg.svg');
	// background-repeat: no-repeat;
}
.card-container{
	// background: blue;
	display: flex;
	justify-content: center;
	align-content: center;
	.panel{

		border: 0;
		img{
			width: 150px;
		}
		.panel-heading{
			display: flex;
			flex-direction: column;
			border-top: 4px solid #2E3741;
			.panel-title{
				padding: 7px;

			}
			.aboutme{
				display: flex;
				&>div{
					align-self: center;
					padding: 20px;
				}

				.panel-description{
					.name{
						line-height: 0%;
						span{
							font-size: 9pt;
						}
					}
					hr{margin-bottom: 8px;margin-top: 15px;}
					.details-me{
						font-size: 8pt;
						color: grey;
						display: flex;
						div{
							flex-grow: 1;
						}
					}
				}
			}

		}

		.footer-card{
			display: flex;
			justify-content: space-around;
			background: #2E3741;
			div{
				padding: 10px;

				i{
					font-size: 15pt;
					cursor: pointer;
				}
			}
		}
	}
}